/* This is the base CSS; fancy edits are ate the bottom */
body {
  background: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
  display: flex;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}

/* custom stuff */


.EditableTag, .TagCreator {
  background: lightblue;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid black;
  padding: 3px;
}

/* All buttons get a nice shadow when moused over, to give them a 3-d look */
button:hover{
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24), 0 1px 5px 0 rgba(0,0,0,0.19)
}

/* On click, all buttons have a neat little depression animation downwards */
button:active{
  transform: translateY(1px);
}

/* Buttons moused over get a pointer cursor to indicate their interactability */
button{
  cursor: pointer;
}

/* The area where you can enter notes gets shifted down, and displays as flex */
.NoteArea{
  margin-top: 20px;
}
.NoteArea{
  display: flex;
}

/* This separates the editable notes from the note list */
.EditableNote{
  padding-left: 30px;
}

/* Setting a base size for the area you enter text into */
.CommentContent>textarea{
  width: 35em;
  height: 25em;
}

/* Formatting and colors for the note list section */
.NoteSelector{
  padding-top: 10px;
}
.NoteSelector>li{
    display: block;
}
.NoteSelector>li>button{
  background-color: cornflowerblue;
  border-color: cornflowerblue;
  transition-duration: 0.4s;
}
.NoteSelector>li>button:hover{
  background-color: royalblue;
  border-color: royalblue;
  color: white;
}

/* Formatting specific to the note that you have selected at a given time */
.SelectedNote{
  background-color: royalblue;
  border-color: royalblue;
  color: white;
}

/* Formatting specific for the tags at the top, handling their selection, etc */
.SelectableTag {
  background-color: white;
  border-color: #2196F3;
  color: black;
  transition-duration: 0.4s;
}
.SelectableTag:hover {
  background: #2196F3;
  color: white;
}
.SelectedTag{
  background-color: #2193f3;
  color: white;
}
.SelectedTag:hover{
  background-color: white;
  color: black;
}

/* Making our note adding button look better */
.AddNote{
  height: 25px;
}
.AddNote:hover{
  height: 30px;
}

/* Putting the About link at the bottom of the page */
.Footer{
  position: fixed;
  bottom: 0;
}
